<div class="container"></div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of fields">
    <div class="form-group">
      <label [ngClass]="labelClasses">{{ field?.label }}</label>
      <ng-container *ngIf="!field.list">
        <input
          *ngIf="field.type == 'input'"
          [value]="field.defaultValue"
          [type]="field.inputType"
          [formControlName]="field.formControlName"
          [name]="field.formControlName"
          class="form-control"
          [ngClass]="inputClasses"
        />
        <select
          *ngIf="field.type == 'select'"
          [value]="field.defaultValue"
          [formControlName]="field.formControlName"
          [name]="field.formControlName"
          class="form-control"
          [ngClass]="inputClasses"
        >
          <option *ngFor="let option of field.options" [ngValue]="option.value">
            {{ option.text }}
          </option>
        </select>
        <textarea
          *ngIf="field.type == 'textarea'"
          [value]="field.defaultValue"
          [formControlName]="field.formControlName"
          [name]="field.formControlName"
          class="form-control"
          [ngClass]="inputClasses"
        >
        </textarea>
      </ng-container>
      <ng-container *ngIf="field.list">
        <div [formArrayName]="field.formControlName">
          <div class="row" *ngFor="let control of registerForm.get(field.formControlName).controls;
              let i = index">
              <div class="col-md-9 pb-1">
                  <input
                  *ngIf="field.type == 'input'"
                  [value]="field.defaultValue[i]"
                  [type]="field.inputType"
                  [formControlName]="i"
                  [name]="field.formControlName"
                  class="form-control"
                  [ngClass]="inputClasses"
                />
              </div>
              <div class="col-md-2">
                  <button class="btn" *ngIf="i == 0" (click)="add(field.formControlName)">
                      <i class="glyphicon glyphicon-plus">add</i>
                    </button>
                    <button class="btn" *ngIf="i !== 0" (click)="remove(i,field.formControlName)">
                      <i class="glyphicon glyphicon-minus">remove</i>
                    </button>
              </div>            
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <button type="submit" class="btn btn-success pull-right">Submit</button>
</form>
